.pio
.DS_Store
node_modules
design/codes/
design/project/autosave/
design/project/backup/
design/project/cache/
design/project/*.py
.vscode/c_cpp_properties.json
.vscode/settings.json
*.exe
*.ilk
*.pdb
data/sdcard/
data/sd/
data/config.json
.vscode/extensions.json
.vscode/launch.json
