html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #0A1128;
    border-radius: 10px;
 }

.topmenu {
    background-color: #d2d7e8;
    border-radius: 10px;
}

.tabcontent {
    outline: 1;
    border-radius: 10px;
    background-color: #f5f5f587;
}

body {
    margin-left: 10px;
    margin-right: 10px;
}


/*
-----------------------------------------------------------------------------------------
- text
-----------------------------------------------------------------------------------------
*/
h1 {
    font-size: 1.0rem;
    font-weight: bold;
    color: white;
}

.text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*
-----------------------------------------------------------------------------------------
- line
-----------------------------------------------------------------------------------------
*/
.vl {
    border-left: 3px solid lightgray;
    height: 10px;
}

.hl {
    border-bottom: 3px solid lightgray;
    width: 100%;
}


/*
-----------------------------------------------------------------------------------------
- container
-----------------------------------------------------------------------------------------
*/
.container {
    text-align: center;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: table;
    padding: 3px 0px 3px 0px;
}

.container td,
.container th {
    padding: 2px;
    word-wrap: break-word;
}

.cam-view {
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: table;
    padding: 3px;
}

.cam-view:hover {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 10px darkgray;
}

.cam-view:active {
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.cam-view-disabled {
    cursor: default;
    transition: all 0.3s ease;
    background: lightgray;
    border: none;
}

/*
-----------------------------------------------------------------------------------------
- model
-----------------------------------------------------------------------------------------
*/
.model {
    text-align: center;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: table;
    padding: 3px 0px 3px 0px;
    border-spacing: 10px;
}

.model td,
.model th {
    position: relative;
    padding: 2px;
    word-wrap: break-word;
    vertical-align: top;
}

.model img:hover {
    cursor: pointer;
    border: 1px solid #6E6F7A;
    border-radius: 20px;
    box-shadow: 2px 2px 1px darkgray;
}

.model-selected,
.model img:active {
    color: #ff0000;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

/*
-----------------------------------------------------------------------------------------
- popup
-----------------------------------------------------------------------------------------
*/
.popup {
    position:absolute;
    width: 150px;
    height: 150px;
    z-index: 10;
}

.popup>ul.list {
    display:inline-block;
    left:30px;
    top:-30px;
	margin:0px;
    padding:10px;
    list-style:none;
	background:#fff;
    color:#333;
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	-moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}

.popup>ul.list li {
	padding:10px;
	border-bottom: solid 1px #ccc;
}

.popup>ul.list li:hover {
	background:#EC6603;
    color:#fff;
}

.popup>ul.list li:last-child {
    border:none
}

/* Background-color of the odd rows */
/* .container tr:nth-child(odd) {
    background-color: #323C50;
}

.container tr:nth-child(even) {
    background-color: #2C3446;
} */


/*
-----------------------------------------------------------------------------------------
- custom input
-----------------------------------------------------------------------------------------
*/
.custom-input {
    color: #000000;
    border-radius: 5px;
    padding: 0px;
    background: transparent;
    position: relative;
    display: inline-block;
    outline: auto;
    text-align: right;
    width: 36px;
    height: 24px;
}


/*
-----------------------------------------------------------------------------------------
- image button
-----------------------------------------------------------------------------------------
*/
.img-button {
    color: #000000;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    background: transparent;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    margin: 3px;
    text-align: center;
    vertical-align: middle
}

.img-button img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    align-items: center;
}

.img-button h1 {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    align-items: center;
}

.btn-normal {
    cursor: pointer;
    transition: all 0.3s ease;
    background: rgb(255, 255, 255);
    border: none;
}

.btn-normal-noclick {
    cursor: default;
    transition: all 0.3s ease;
    background: rgb(255, 255, 255);
    border: none;
}

.btn-normal-disabled {
    cursor: default;
    transition: all 0.3s ease;
    background: lightgray;
    border: none;
}

.btn-outer {
    cursor: pointer;
    transition: all 0.3s ease;
    background: rgb(240, 240, 240);
    border: none;
}

.btn-outer-noclick {
    cursor: default;
    transition: all 0.3s ease;
    background: rgb(253, 251, 221);
    border: none;
}

.btn-circle {
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.btn-circle-noclick {
    cursor: default;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.btn-normal:hover,
.btn-outer:hover,
.custom-input:hover {
    box-shadow: 8px 8px 6px darkgray;
}

.btn-selected {
    color: #ff0000;
    outline: red dotted 3px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.btn-normal:active,
.btn-outer:active {
    color: #ff0000;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

/*
-----------------------------------------------------------------------------------------
- spinner
-----------------------------------------------------------------------------------------
*/
.num-spinner {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10%;
}

.num-spinner span {
    float: left;
    width: 25px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.num-spinner span.disabled:before,
.num-spinner span.disabled:after {
    background-color: #ccc !important;
}

.num-spinner input {
    float: left;
    width: 30%;
    height: 32px;
    border: 1px solid #6E6F7A;
    border-radius: 5px;
    color: #000;
    text-align: center;
    padding: 0;
}

.num-spinner input::-webkit-inner-spin-button,
.num-spinner input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    opacity: 1 !important;
}

.num-spinner span.minus:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #00A94F;
    top: 50%;
    left: 0;
}

.num-spinner span.plus:before,
.num-spinner span.plus:after {
    content: '';
    position: absolute;
    right: 0px;
    width: 15px;
    height: 2px;
    background-color: #00A94F;
    top: 50%;
}

.num-spinner span.plus:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}


/*
-----------------------------------------------------------------------------------------
- toggle switch
-----------------------------------------------------------------------------------------
*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}